---
layout: default
title: Governance
---

<header class="special container">
  <span class="icon far fa-gavel"></span>
  <h2>Governance</h2>
  <p>Whitesburg Recreation Association is a member-owned 501c-7 non-profit recreational club. WRA manages
    the property at 610 Sanders Rd., primarily including the swimming pool. We are owned by our members and
    managed by a nine-member board of directors. For any questions about leadership or governance, please
    email <a href="mailto:president@whitesburgpool.org">president@whitesburgpool.org</a>.
</header>

<section class="wrapper style4 container">
  <header>
    <h2>Pool Board and Officers</h2>
  </header>
  <ul class="default">
    <li><strong>President</strong>: David Abel</li>
    <li><strong>Vice-President 1</strong>: Heather Hough</li>
    <li><strong>Vice-President 1</strong>: Vince Dickens</li>
    <li><strong>Treasurer</strong>: Nathan Alderson</li>
    <li><strong>Secretary</strong>: Whitney Cooper (memberships)</li>
    <li>Matt Tucker</li>
    <li>Chris Morris</li>
    <li>Lisa Elmore</li>
    <li>Christen Shaffer</li>
  </ul>
</section>

<section id="squares" class="wrapper style2 container special">
  <header>
    <h2>Useful Documents</h2>
  </header>
  <div class="row">
    <div id="bylaws" class="6u 12u(narrower)">
      <i class="icon featured fas fa-scroll"></i>
      <header>
        <h3>Bylaws</h3>
      </header>
      <p>You can download the pool constitution and bylaws here:</p>
      {% include document.html filename="Constitution and Bylaws" nodoc=true %}
    </div>
    <div class="6u 12u(narrower)">
      <i class="icon featured fas fa-swimmer"></i>
      <header>
        <h3>Lap Swim Waiver</h3>
      </header>
      <p>If you would like to lap swim before/after hours, you will need to fill out the
        form below and give it to a guard at the desk. A board member will then contact
        you to give you the gate code.</p>
      {% include document.html filename="lap swim waiver" nodoc=true %}
    </div>
  </div>
</section>