---
layout: default
title: Join Now
---

<header class="special container">
  <span class="icon fas fa-users"></span>
  <h2>Join Now!</h2>
  <p>When you join Whitesburg Pool, you're not just paying to get in: you're joining a
  community! For over 50 years, families in South Huntsville have gathered at Whitesburg
  Pool to celebrate summer and form lasting memories together. Join us today and become part
  of that continuing tradition!</p>
</header>
<section class="wrapper style3 container">

  <p>To join the pool, you must purchase a membership (a one-time purchase) and pay annual dues.
  The table below gives more details on pricing. Do note that a late fee of $50 will apply to dues
  paid after May 10th, or $150 if paid after June 1st.<p>

  <p>New members must also submit <a href="/docs/membership-form.pdf">this membership form</a>
  (also availabe at the pool office). The form only needs to be submitted once unless your
  information changes. The form can be printed and brought to the pool office or mailed to 610
  Sanders Rd., Huntsville, AL 35802.</p>

  <p>Payments may be made online by purchasing the correct items via PayPal below. Clicking "add to
  cart" below will open a new tab with your PayPal shopping cart. Note that you can close the new
  tab to come back and add multiple items before checking out with PayPal. Alternately, cash or
  checks can be brought to the pool office or mailed to 610 Sanders Rd., Huntsville AL 35802.</p>

  <p>For questions or issues regarding payment, please contact <a href="mailto:president@whitesburgpool.org">president@whitesburgpool.org</a>.</p>

  <table>
    <tr>
      <th>Membership</th>
      <td>$50</td>
      <td>
        One-time purchase. Annual dues also required. Please use the drop-down to select the
        correct dues type before clicking "add to cart". Note that for 2021, an additional
        assessment is also required to to cover two major maintenance projects needed this season.
        The assessment cost is $120 for family memberships and $100 for individual memberships.
        <form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
          <input type="hidden" name="on0" value="Dues Type">
          <select name="os0">
            <!-- <option value="Membership + individual dues">Membership + individual dues $359.00 USD</option> -->
            <!-- <option value="Membership + family dues">Membership + family dues $515.00 USD</option> -->
            <option value="Membership + individual dues + assessment">Membership + individual dues + assessment $459.00 USD</option>
            <option value="Membership + family dues + assessment">Membership + family dues + assessment $635.00 USD</option>
          </select> 
          <input type="hidden" name="cmd" value="_s-xclick">
          <input type="hidden" name="hosted_button_id" value="6MXQ5VE8GS7XS">
          <button type="submit" class="button" alt="Add to cart with PayPal"><i class="fas fa-cart-plus"></i> Add to cart</button>
        </form>
      </td>
    </tr>
    <tr>
      <th>2021 Assessment</th>
      <td>&nbsp;</td>
      <td>
        For 2021, all full members (trial memberships excluded) must pay an assessment on top of their normal pool dues
        to cover two major maintenance projects needed this season. The cost is $120 for family memberships and $100 for
        individual memberships.
        <form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
          <input type="hidden" name="cmd" value="_s-xclick">
          <input type="hidden" name="hosted_button_id" value="L2GPD2YY5FLSU">
          <select name="os0">
            <option value="Assessment (Family Membership)">Assessment (Family Membership) $120.00 USD</option>
            <option value="Assessment (Individual Membership)">Assessment (Individual Membership) $100.00 USD</option>
          </select> 
          <input type="hidden" name="currency_code" value="USD">
          <button type="submit" class="button" alt="Add to cart with PayPal"><i class="fas fa-cart-plus"></i> Add to cart</button>
        </form>
      </td>
    </tr>
    <tr>
      <th>Late Fee</th>
      <td>&nbsp;</td>
      <td>
        Late fees are $50 after May 10th and $150 after June 1st.
        <form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
          <input type="hidden" name="on0" value="Late Fees">
          <select name="os0">
              <option value="After May 10th">After May 10th $50.00 USD</option>
              <option value="After June 1st">After June 1st $150.00 USD</option>
          </select>
          <input type="hidden" name="cmd" value="_s-xclick">
          <input type="hidden" name="hosted_button_id" value="ENVB8NQ9VW9VA">
          <button type="submit" class="button" alt="Add to cart with PayPal"><i class="fas fa-cart-plus"></i> Add to cart</button>
        </form>
      </td>
    </tr>
    <tr>
      <th>Trial Membership + Dues</th>
      <td>$250</td>
      <td>Try out the pool for one summer. May only be purchased once. No additional dues
        for the first summer.
        {% include paypal-add-to-cart-button.html button_id="8PQ4JU6NJQ5EY" %}
      </td>
    </tr>
    <tr>
      <th>Swim &amp; Dive Team Membership</th>
      <td>$100</td>
      <td>
        Pool membership for families with swim team members. Also covers dive team members if you
        have both. Must be purchased annually and covers all of the swimmers and divers in a
        family*. <a href="/swim-and-dive.html#fees">Team fees</a> are also required and must be paid
        separately to the swim team representative.
        {% include paypal-add-to-cart-button.html button_id="6RHGXEKW5NMLW" %}
      </td>
    </tr>
    <tr>
      <th>Dive Team Membership</th>
      <td>$50</td>
      <td>
        Pool membership for families with only dive team members. Must be purchased annually and
        covers all of the divers in a family*. <a href="/swim-and-dive.html#fees">Team fees</a> are
        also required and must be paid separately to the dive team representative.
        {% include paypal-add-to-cart-button.html button_id="CQMT4KXAHPK2A" %}
      </td>
    </tr>
    <tr>
      <th>Individual Dues + Assessment</th>
      <td>$309</td>
      <td>
        Annual dues for an individual. Note that for 2021, an additional assessment is also required to
        cover two major maintenance projects needed this season. The amount for individual memberships
        is $100. The total amount added to your cart will be $409.
        {% include paypal-add-to-cart-button.html button_id="59G5EAJRV8W3Q" %}
      </td>
    </tr>
    <tr>
      <th>Family Dues</th>
      <td>$465</td>
      <td>
        Annual dues for a family*. Note that for 2021, an additional assessment is also required to
        cover two major maintenance projects needed this season. The amount for family memberships
        is $120. The total amount added to your cart will be $585.
        {% include paypal-add-to-cart-button.html button_id="HG2CYCVY3ECXE" %}
      </td>
    </tr>
  </table>
  <p>* A "family" includes immediate family and other individuals living in a single household.</p>
  {% include paypal-view-cart-button.html %}

</section>

<section id="other_payments" class="wrapper style3 container">
  <h2>Other Payments</h2>

  <p>If you need to make a payment in a different amount, you can use the form below or visit <a
    href="https://paypal.me/whitesburgpool">paypal.me/whitesburgpool</a>.</p>

  <div id="smart-button-container">
    <div>
      <label for="description">Purpose </label><input type="text" name="descriptionInput" id="description" maxlength="127" value="">
    </div>
    <p id="descriptionError" class="error" style="visibility: hidden;"> Please enter a description </p>
    <div>
      <label for="amount">Amount </label><input name="amountInput" type="number" id="amount" value="" ><span> USD</span>
    </div>
    <p id="priceLabelError" style="visibility: hidden;">Please enter a price</p>
    <div id="invoiceidDiv" style="display: none;"><label for="invoiceid"> </label><input name="invoiceid" maxlength="127" type="text" id="invoiceid" value="" ></div>
    <p id="invoiceidError" style="display: none; visibility: hidden;">Please enter an Invoice ID</p>
    <div style="margin-top: 0.625rem;" id="paypal-button-container"></div>
  </div>
</section>

<script src="https://www.paypal.com/sdk/js?client-id=sb&currency=USD" data-sdk-integration-source="button-factory"></script>
<script>
  function initPayPalButton() {
    var description = document.querySelector('#smart-button-container #description');
    var amount = document.querySelector('#smart-button-container #amount');
    var descriptionError = document.querySelector('#smart-button-container #descriptionError');
    var priceError = document.querySelector('#smart-button-container #priceLabelError');
    var invoiceid = document.querySelector('#smart-button-container #invoiceid');
    var invoiceidError = document.querySelector('#smart-button-container #invoiceidError');
    var invoiceidDiv = document.querySelector('#smart-button-container #invoiceidDiv');

    var elArr = [description, amount];

    if (invoiceidDiv.firstChild.innerHTML.length > 1) {
      invoiceidDiv.style.display = "block";
    }

    var purchase_units = [];
    purchase_units[0] = {};
    purchase_units[0].amount = {};

    function validate(event) {
      return event.value.length > 0;
    }

    paypal.Buttons({
      style: {
        color: 'white',
        shape: 'rect',
        label: 'paypal',
        layout: 'vertical',

      },

      onInit: function (data, actions) {
        actions.disable();

        if(invoiceidDiv.style.display === "block") {
          elArr.push(invoiceid);
        }

        elArr.forEach(function (item) {
          item.addEventListener('keyup', function (event) {
            var result = elArr.every(validate);
            if (result) {
              actions.enable();
            } else {
              actions.disable();
            }
          });
        });
      },

      onClick: function () {
        if (description.value.length < 1) {
          descriptionError.style.visibility = "visible";
        } else {
          descriptionError.style.visibility = "hidden";
        }

        if (amount.value.length < 1) {
          priceError.style.visibility = "visible";
        } else {
          priceError.style.visibility = "hidden";
        }

        if (invoiceid.value.length < 1 && invoiceidDiv.style.display === "block") {
          invoiceidError.style.visibility = "visible";
        } else {
          invoiceidError.style.visibility = "hidden";
        }

        purchase_units[0].description = description.value;
        purchase_units[0].amount.value = amount.value;

        if(invoiceid.value !== '') {
          purchase_units[0].invoice_id = invoiceid.value;
        }
      },

      createOrder: function (data, actions) {
        return actions.order.create({
          purchase_units: purchase_units,
        });
      },

      onApprove: function (data, actions) {
        return actions.order.capture().then(function (details) {
          alert('Transaction completed by ' + details.payer.name.given_name + '!');
        });
      },

      onError: function (err) {
        console.log(err);
      }
    }).render('#paypal-button-container');
  }
  initPayPalButton();
</script>
