---
layout: default
title: Join Now
---

<article x-data="{
  member: null
}">

  <header class="special container">
    <span class="icon fas fa-users"></span>
    <h2>Join Now!</h2>
    <p>When you join Whitesburg Pool, you're not just paying to get in: you're joining a
      community! For over 50 years, families in South Huntsville have gathered at Whitesburg
      Pool to celebrate summer and form lasting memories together. Join us today and become part
      of that continuing tradition!</p>

    <p>To help you select the right items for your situation, choose the appropriate option below,
      or just click "I know what I need" if you want to select items yourself.</p>

    <div class="mx-auto isolate flex flex-col sm:flex-row sm:rounded-md shadow-sm mt-10 max-w-fit">
      <button x-on:click="member = 'full'"
        x-bind:class="member=='full' ? 'bg-brand-pale hover:bg-brand-lightest' : 'bg-white hover:bg-gray-50'"
        type="button"
        class="relative inline-flex items-center sm:rounded-l-md border border-gray-300 px-4 py-2 text-sm font-medium text-gray-700 focus:z-10 focus:border-brand-lighter focus:outline-none focus:ring-1 focus:ring-brand-lighter">
        I am already a full member
      </button>
      <button x-on:click="member = 'trial'"
        x-bind:class="member=='trial' ? 'bg-brand-pale hover:bg-brand-lightest' : 'bg-white hover:bg-gray-50'"
        type="button"
        class="relative -ml-px inline-flex items-center border border-gray-300 bg-white px-4 py-2 text-sm font-medium text-gray-700 hover:bg-gray-50 focus:z-10 focus:border-brand-lighter focus:outline-none focus:ring-1 focus:ring-brand-lighter">
        I have had a trial membership before
      </button>
      <button x-on:click="member = 'never'"
        x-bind:class="member=='never' ? 'bg-brand-pale hover:bg-brand-lightest' : 'bg-white hover:bg-gray-50'"
        type="button"
        class="relative -ml-px inline-flex items-center border border-gray-300 bg-white px-4 py-2 text-sm font-medium text-gray-700 hover:bg-gray-50 focus:z-10 focus:border-brand-lighter focus:outline-none focus:ring-1 focus:ring-brand-lighter">
        I have never been a member
      </button>
      <button x-on:click="member = 'other'"
        x-bind:class="member=='other' ? 'bg-brand-pale hover:bg-brand-lightest' : 'bg-white hover:bg-gray-50'"
        type="button"
        class="relative -ml-px inline-flex items-center sm:rounded-r-md border border-gray-300 px-4 py-2 text-sm font-medium text-gray-700 focus:z-10 focus:border-brand-lighter focus:outline-none focus:ring-1 focus:ring-brand-lighter">
        I know what I need
      </button>
    </div>
  </header>

  <section x-cloak x-show="member=='full'" class="wrapper style3 container">
    <p>If you have already purchased a membership, then you just need to pay dues. Do note that a late fee of $50 will
      apply to dues paid after May 10th, or $150 if paid after June 1st.</p>
    <p>If you need to update your information, you can also fill out the membership form again
      <a href="{{ site.data.links.membership_form }}">online</a> or download and print
      <a href="{{ site.data.links.membership_form_pdf }}">the PDF version</a> and return it to the pool office.
    </p>
    <p>What type of dues do you need?</p>
    {% include select_dues_type.html include_late_fees=true %}
  </section>

  <section x-cloak x-show="member=='trial'" class="wrapper style3 container">
    <p>If you have been a trial member before or if you're just ready to go ahead and get a full membership,
      we're super excited to have you!</p>

    <p>If we don't have a membership form for you, then you will need to fill one out. You can do that
      <a href="{{ site.data.links.membership_form }}">online</a> or you can download and print
      <a href="{{ site.data.links.membership_form_pdf }}">the PDF version</a> and either mail or bring the form to the
      pool. If you filled one out when you purchased a trial membership, then you don't need to submit
      a new one unless your information has changed.
    </p>

    <p>You will also need to purchase a membership and pay your dues. The membership itself is a one-time
      expense of $50 and represents your share of the organization. Dues are paid each year (including your
      first year).

    <p>Finally, you will need to pay dues. If you are buying your membership before the season, then dues
      are due by May 10th. After May 10th, a late fee of $50 will apply, and after June 1st the late
      fee increases to $150. The cost of dues depends on how many people are in your household.</p>
    <div>
      {% include select_dues_type.html include_membership=true %}
  </section>

  <section x-cloak x-show="member=='never'" class="wrapper style3 container">
    <p>
      If you have never been a member before, then you should consider our trial membership. It can only be purchased
      once, but it covers your whole family for your first summer. It's a great way to try out the pool and see if a
      full membership is right for you. Note that this membership level does not include ownership or voting rights.
    </p>

    <p>You need to fill out the membership form. The form can either be filled out
      <a href="{{ site.data.links.membership_form }}">online</a> or you can download and print
      <a href="{{ site.data.links.membership_form_pdf }}">the PDF version</a> and either mail or bring the form to the
      pool.
    </p>

    <div class="max-w-max">
      {% include item.html sku="trial_membership" %}
    </div>
  </section>

  <section x-cloak x-show="member=='other'" class="wrapper style3 container flex flex-col">
    <p>Membership form: {% include document.html nodoc=true filename="/docs/membership-form.pdf"
      online="https://tally.so/r/mRGlxv" %}</p>
    <div class="w-full grid gap-2 grid-cols-1 md:grid-cols-2 lg:grid-cols-4">
      {% include item.html sku="trial_membership" %}
      {% include item.html sku="membership" %}
      {% include item.html sku="family_dues" %}
      {% include item.html sku="couples_dues" %}
      {% include item.html sku="individual_dues" %}
      {% include item.html sku="late_fee_1" %}
      {% include item.html sku="late_fee_2" %}
    </div>
  </section>


  <section id="shopping-cart" x-cloak x-show="cart.num_items() > 0" class="wrapper style3 container">
    <div class="flex-1 overflow-y-auto py-6 px-4 sm:px-6">
      <h2 class="text-lg font-medium text-gray-900" id="slide-over-title">Cart</h2>

      <div class="mt-8">
        <div class="flow-root">
          <ul role="list" class="-my-6 divide-y divide-gray-200">

            <template x-for="batch in cart.items()">
              <li class="flex py-6">
                <div class="flex flex-1 flex-col">
                  <div>
                    <div class="flex justify-between text-base font-medium text-gray-900">
                      <h3 x-text="batch.item.description"></h3>
                      <p class="ml-4" x-text="currency.format(batch.item.price)"></p>
                    </div>
                  </div>
                  <div class="flex flex-1 items-end justify-between text-sm">
                    <p class="text-gray-500">
                      Quantity
                      <span class="ml-2 isolate inline-flex rounded-md">
                        <span type="button" x-on:click="cart.decrement_qty(batch.item.sku)"
                          class="cursor-pointer relative inline-flex items-center rounded-l-md border border-gray-300 bg-gray-100 px-4 py-2 text-xs font-medium text-gray-700 hover:bg-gray-200 focus:z-10 focus:border-brand-lighter focus:outline-none focus:ring-1 focus:ring-brand-lighter">-</span>
                        <span
                          class="relative -ml-px inline-flex items-center border border-gray-300 bg-white px-4 py-2 text-xs font-medium text-gray-700 focus:z-10 focus:border-brand-lighter focus:outline-none focus:ring-1 focus:ring-brand-lighter"
                          x-text="batch.quantity"></span>
                        <span type="button" x-on:click="cart.add_item(batch.item.sku)"
                          class="cursor-pointer relative -ml-px inline-flex items-center rounded-r-md border border-gray-300 bg-gray-100 px-4 py-2 text-xs font-medium text-gray-700 hover:bg-gray-200 focus:z-10 focus:border-brand-lighter focus:outline-none focus:ring-1 focus:ring-brand-lighter">+</span>
                      </span>
                    </p>

                    <div class="flex">
                      <div type="button" class="font-medium text-brand hover:text-brand-lighter cursor-pointer"
                        x-on:click="cart.remove_item(batch.item)">Remove</button>
                      </div>
                    </div>
                  </div>
              </li>
            </template>

          </ul>
        </div>
      </div>
    </div>

    <div class="flex flex-col border-t border-gray-200 py-6 px-4 sm:px-6" x-data="{
      get subtotal() {return cart.total()},
      get fee() {return get_processing_fee_item(cart.total())},
      pay_fee: true,
      get total() {return cart.total() + (this.pay_fee ? this.fee.price : 0)}
    }">
      <div class="flex justify-between text-base font-medium text-gray-900">
        <p>Subtotal</p>
        <p x-text="currency.format(subtotal)"></p>
      </div>
      <div class="flex flex-row items-center justify-end space-x-2 mb-4">
        <label for="pay_fees" class="text-sm font-medium text-brand">Yes, I will add <span x-text="currency.format(fee.price)"></span> to help offset the processing fee.</label>
        <input x-model="pay_fee" id="pay_fees" type="checkbox" class="text-brand focus:ring-brand outline-4">
      </div>
      <div class="flex justify-between text-base font-medium text-gray-900">
        <p>Total</p>
        <p x-text="currency.format(total)"></p>
      </div>
      <div class="mt-6" x-data="{ member_name: null }">
        <div class="flex items-center space-x-4">
          <label for="member_name" class="w-max font-medium text-medium">Primary Member Name:<span class="text-red-500">*</span></label>
          <input id="member_name" type="text" class="max-w-lg" x-model="member_name">
        </div>
        <p class="text-sm">Sometimes payment information doesn't match membership information. Who is the primary person on your membership?</p>
        <a href="#checkout" @click="checkout(cart, member_name, pay_fee, fee)" roll="button" :class="member_name ? ['bg-brand', 'hover:bg-brand-darker', 'cursor-pointer'] : ['bg-gray-200', 'cursor-default']"
          class="flex items-center justify-center rounded-md border border-transparent px-6 py-3 mt-8 text-base font-medium text-white shadow-sm">Checkout</a>
      </div>
    </div>
    </div>
  </section>

</article>

<script>
  
  function checkout(cart, member_name, pay_fee, fee) {
    if (!member_name) return;
    let line_items = cart.items().map((batch) => {
      return {
        price: batch.item.stripe_id,
        quantity: batch.quantity,
      }
    })
    if (pay_fee) { line_items.push({price: fee.stripe_id, quantity: 1}) }
    stripe.redirectToCheckout({
      clientReferenceId: member_name,
      lineItems: line_items,
      mode: 'payment',
      successUrl: 'https://whitesburgpool.org/payment-success',
      cancelUrl: 'https://whitesburgpool.org/payment-cancelled',
    }).then(function (result) {
      // If `redirectToCheckout` fails due to a browser or network
      // error, display the localized error message to your customer
      // using `result.error.message`.
      console.log(result.error.message)
    });
  }

</script>