---
layout: default
title: Join Now
---

<header class="special container">
  <span class="icon fas fa-users"></span>
  <h2>Join Now!</h2>
  <p>When you join Whitesburg Pool, you're not just paying to get in: you're joining a
  community! For over 50 years, families in South Huntsville have gathered at Whitesburg
  Pool to celebrate summer and form lasting memories together. Join us today and become part
  of that continuing tradition!</p>
</header>
<section class="wrapper style3 container">

  <p>To join the pool, you must purchase a membership (a one-time purchase) and pay annual dues.
  The table below gives more details on pricing. Do note that a late fee of $50 will apply to dues
  paid after May 10th, 2019, or $150 if paid after June 1st.<p>

  <p>New members must also submit <a href="/docs/membership-form.pdf">this membership form</a>
  (also availabe at the pool office). The form only needs to be submitted once unless your
  information changes. The form can be printed and brought to the pool office or mailed to 610
  Sanders Rd., Huntsville, AL 35802.</p>

  <p>Payments may be made online by purchasing the correct items via PayPal below. Clicking "add to
  cart" below will open a new tab with your PayPal shopping cart. Note that you can close the new
  tab to come back and add multiple items before checking out with PayPal. Alternately, cash or
  checks can be brought to the pool office or mailed to 610 Sanders Rd., Huntsville AL 35802.</p>

  <table>
    <tr>
      <th>Membership</th>
      <td>$50</td>
      <td>
        One-time purchase. Annual dues also required. Please use the drop-down to select the
        correct dues type before clicking "add to cart".
        <form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
          <input type="hidden" name="on0" value="Dues Type">
          <select name="os0">
            <option value="Membership + individual dues">Membership + individual dues $359.00 USD</option>
            <option value="Membership + family dues">Membership + family dues $515.00 USD</option>
          </select> 
          <input type="hidden" name="cmd" value="_s-xclick">
          <input type="hidden" name="hosted_button_id" value="6MXQ5VE8GS7XS">
          <button type="submit" class="button" alt="Add to cart with PayPal"><i class="fas fa-cart-plus"></i> Add to cart</button>
        </form>
      </td>
    </tr>
    <tr>
      <th>Late Fee</th>
      <td>&nbsp;</td>
      <td>
        Late fees are $50 after May 10th and $150 after June 1st.
        <form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
          <input type="hidden" name="on0" value="Late Fees">
          <select name="os0">
              <option value="After May 10th">After May 10th $50.00 USD</option>
              <option value="After June 1st">After June 1st $150.00 USD</option>
          </select>
          <input type="hidden" name="cmd" value="_s-xclick">
          <input type="hidden" name="hosted_button_id" value="ENVB8NQ9VW9VA">
          <button type="submit" class="button" alt="Add to cart with PayPal"><i class="fas fa-cart-plus"></i> Add to cart</button>
        </form>
      </td>
    </tr>
    <tr>
      <th>Trial Membership + Dues</th>
      <td>$200</td>
      <td>Try out the pool for one summer. May only be purchased once. No additional dues
        for the first summer.
        {% include paypal-add-to-cart-button.html button_id="8PQ4JU6NJQ5EY" %}
      </td>
    </tr>
    <tr>
      <th>Swim &amp; Dive Team Membership</th>
      <td>$100</td>
      <td>
        Pool membership for families with swim team members. Also covers dive team members if you
        have both. Must be purchased annually and covers all of the swimmers and divers in a
        family*. <a href="/swim-and-dive.html#fees">Team fees</a> are also required and must be paid
        separately to the swim team representative.
        {% include paypal-add-to-cart-button.html button_id="6RHGXEKW5NMLW" %}
      </td>
    </tr>
    <tr>
      <th>Dive Team Membership</th>
      <td>$50</td>
      <td>
        Pool membership for families with only dive team members. Must be purchased annually and
        covers all of the divers in a family*. <a href="/swim-and-dive.html#fees">Team fees</a> are
        also required and must be paid separately to the dive team representative.
        {% include paypal-add-to-cart-button.html button_id="CQMT4KXAHPK2A" %}
      </td>
    </tr>
    <tr>
      <th>Individual Dues</th>
      <td>$309</td>
      <td>
        Annual dues for an individual.
        {% include paypal-add-to-cart-button.html button_id="59G5EAJRV8W3Q" %}
      </td>
    </tr>
    <tr>
      <th>Family Dues</th>
      <td>$465</td>
      <td>
        Annual dues for a family*.
        {% include paypal-add-to-cart-button.html button_id="HG2CYCVY3ECXE" %}
      </td>
    </tr>
  </table>
  <p>* A "family" includes immediate family and other individuals living in a single household.</p>
  {% include paypal-view-cart-button.html %}

</section>
