---
layout: default
title: 60th Anniversary Party Information
---

<section class="special container">
  <h2>Whitesburg Pool 60th Anniversary Reunion Party</h2>
  <h2>July 15-17</h2>
</section>

<header class="special container">
  <span class="icon fa-solid fa-cake-candles"></span>
  <p>All current and former members are invited</p>
</header>

<section id="events" class="cta">
  <h2>Events</h2>
  <ul>
    <li><strong>Friday Night Food Trucks</strong>, 5-9pm, Free Admission</li>
    <li><strong>Saturday Family Day</strong>, 11-3, Tickets $15 Includes Lunch</li>
    <li><strong>Saturday Night Dinner</strong>, 5-10pm, Tickets $20/adult, $15/12 &amp; under
  </ul>
</section>

<p></p>

<section id="donation" class="wrapper style3 container special">
  <h2>Purchase Tickets</h2>
  <p>Add items to your cart by clicking the buttons below. Come back to this page to add more items.
  Then click "view cart" to review your selections, change quantities, and check out.</p>
  <table id="paypal-form">
    <tr>
      <th>Saturday Lunch</th>
      <td>$15</td>
      <td>{% include paypal-add-to-cart-button.html button_id="W9RZX6C3PXJJ2" %}</td>
    </tr>
    <tr>
      <th>Saturday Dinner - Adult</th>
      <td>$20</td>
      <td>{% include paypal-add-to-cart-button.html button_id="B9LY3LWR9LDQE" %}</td>
    </tr>
    <tr>
      <th>Saturday Dinner - Child (12 &amp; under)</th>
      <td>$15</td>
      <td>{% include paypal-add-to-cart-button.html button_id="UAE3Q3RDHZ4CW" %}</td>
    </tr>
  </table>
  {% include paypal-view-cart-button.html %}
</section>
