---
layout: default
title: Swim and Dive
---

<header class="special container">
  <span class="icon fas fa-tint"></span>
  <h2><strong>Whitesburg Tide</strong> Swim & Dive Teams</h2>
  <p>Any area youth from age 4 to 17 are invited to join the Whitesburg Tide swim and dive
  teams! We're part of the <a href="http://swimrcsl.org/">Rocket City Swim and Dive
    League</a> and swimmers and divers of any skill level are welcome. Whether you're super
  competitive or just learning, our awesome coaches will have you setting PRs in no time...
  all while having fun with your friends at the pool!</p>
  <h2>Questions?</h2>
  <p>Email <a href="mailto:swimteam@whitesburgpool.org">swimteam@whitesburgpool.org</a></p>
</header>

<section id="swim-dive-banner"></section>
<section id="spacer">&nbsp;</section>

<!-- How to Join -->
<section class="wrapper style2 container">
  <div class="content">
    <section>
      <div class="row">
        <div class="6u 12u(narrower)">
          <header><h2>How to Join</h2></header>
          <p>Swim team registration for the 2021 season will be open from May 3 through May 25. For questions about swim team,
          or to be added to the mailing list, please email <a
               href="mailto:swimteam@whitesburgpool.org">swimteam@whitesburgpool.org</a>.
        </div>
        <div class="6u 12u(narrower)">
          <img src="/images/city-meet.jpg" />
        </div>
      </div>
    </section>
    <section>
      <h3>New Swimmer Info</h3>
      <ul class="default" id="new-swimmer-info">
        <li>Swim Team Primer:
          {% include document.html filename="Swim Meet Primer" nodoc=true %}
        </li>
      </ul>
      <h3>Forms</h3>
      <ul class="default" id="forms">
        <li>Swim Team:
          {% include document.html filename="WRA Swim Team Registration Form" nodoc=true online="https://docs.google.com/forms/d/e/1FAIpQLScfmYAktbkER5EkgcZQj3WNOQwwDsZitqHwlsWLJzSHxPzOOQ/viewform?usp=sf_link" %}
        </li>
        <li>Dive Team:
          {% include document.html filename="WRA Dive Team Registration Form" nodoc=true online="https://docs.google.com/forms/d/e/1FAIpQLSfd47Kyo3xwTYZ8p-oD5mFCY6I6dH5STGPR9DeNjMFTxXmjxA/viewform?usp=sf_link" %}
        </li>
        <li>Concussion (needed for both):
          {% include document.html filename="concussion form" nodoc=true %}
        </li>
        <!--
        <li>City Meet RCSL Child Permission Waiver
          {% include document.html filename="City Meet RCSL Child Permission Waiver" nodoc=true %}
        </li>
        -->
      </ul>

      <a id="fees"></a>
      <h3>Fees</h3>
      <p>Swim team fees include t-shirts as shown below. Dive fees do not include a t-shirt. Swim
      caps, and extra shirts can be purchased at an additional cost if desired.</p>

      <p>If you aren't a full pool member, you'll need to purchase a <a
        href="/join-now.html">swim/dive team membership</a> in addition to the team
      fees shown below.</p>

      <h4>Swim Team</h4>
      <ul class="default">
        <li>1 swimmer: $120 (includes 1 t-shirt)</li>
        <li>2 swimmers: $190 (includes 2 t-shirts)</li>
        <li>3 swimmers: $250 (includes 3 t-shirts)</li>
        <li>Each additional swimmer after 3: $15 (includes t-shirt)</li>
      </ul>

      <h4>Dive Team</h4>
      <ul class="default">
        <li>1 diver: $80</li>
        <li>2 divers: $105</li>
        <li>3+ divers: $125</li>
      </ul>

      <!--
      <h4>Pay With PayPal</h4>
      <p>Clicking "add to cart" below will open a shopping cart tab at PayPal. Note that you can
      close the new tab and come back and add multiple items before finally checking out on the
      PayPal page.</p>
      <table id="paypal-form">
        <tr>
          <th>Swim Team</th>
          <td>
            <form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
              <input type="hidden" name="cmd" value="_s-xclick">
              <input type="hidden" name="hosted_button_id" value="Z8Q76KA4DJEKJ">
              <select name="os0">
                <option value="One Swimmer">One Swimmer $120.00 USD</option>
                <option value="Two Swimmers">Two Swimmers $190.00 USD</option>
                <option value="Three Swimmers">Three Swimmers $250.00 USD</option>
                <option value="Four Swimmers">Four Swimmers $265.00 USD</option>
                <option value="Five Swimmers">Five Swimmers $280.00 USD</option>
                <option value="Six Swimmers">Six Swimmers $295.00 USD</option>
              </select>
              <input type="hidden" name="currency_code" value="USD">
              <button type="submit" class="button" alt="Add to cart with PayPal"><i class="fas fa-cart-plus"></i> Add to cart</button>
            </form>
          </td>
        </tr>
        <tr>
          <th>Dive Team</th>
          <td>
            <form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
              <input type="hidden" name="cmd" value="_s-xclick">
              <input type="hidden" name="hosted_button_id" value="NH3NK45A5J97G">
              <select name="os0">
                <option value="One Diver">One Diver $80.00 USD</option>
                <option value="Two Divers">Two Divers $105.00 USD</option>
                <option value="Three+ Divers">Three+ Divers $125.00 USD</option>
              </select>
              <input type="hidden" name="currency_code" value="USD">
              <button type="submit" class="button" alt="Add to cart with PayPal"><i class="fas fa-cart-plus"></i> Add to cart</button>
            </form>
          </td>
        </tr>
        <tr>
          <th>Swim/Dive Pool Membership</th>
          <td>
            $100
            {% include paypal-add-to-cart-button.html button_id="6RHGXEKW5NMLW" %}
          </td>
        </tr>
        <tr>
          <th>T-Shirt</th>
          <td>
            $20
            {% include paypal-add-to-cart-button.html button_id="9JUM2AKKY37VQ" %}
          </td>
        </tr>
        <tr>
          <th>Swim Cap</th>
          <td>
            $10
            {% include paypal-add-to-cart-button.html button_id="JEBT4FV3MD6L4" %}
          </td>
        </tr>
        <tr>
          <th>Baseball Cap</th>
          <td>
            <form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
              <input type="hidden" name="cmd" value="_s-xclick">
              <input type="hidden" name="hosted_button_id" value="WS48VHGRDWY6Y">
              <select name="os0">
                <option value="Open">Open $20.00 USD</option>
                <option value="Filled">Filled $25.00 USD</option>
              </select>
              <input type="hidden" name="currency_code" value="USD">
              <button type="submit" class="button" alt="Add to cart with PayPal"><i class="fas fa-cart-plus"></i> Add to cart</button>
            </form>
          </td>
        </tr>
      </table>
      <p>{% include paypal-view-cart-button.html %}</p>
      -->

    </section>
  </div>
</section>

<!-- Swim Team Schedule -->
<section class="wrapper style4 container">
  <div class="content">
    <section>
      <div class="row">
        <div class="3u 12u(narrower)">
          <img src="/images/swim-team1.jpg" />
        </div>
        <div class="9u 12u(narrower)">
          <header><h2>Swim Team Schedule</h2></header>

          <p>Registration information for the 2021 summer swim season:</p>
          <p>A "Meet the Coaches" day and in-person registration day will be held on Saturday, May 8 from 1-4
          pm at the pool. Online signups (see above) will be open from May 3 - May 25.</p>
          <p>There is a new swimmer evaluation and parent meeting scheduled for Thursday, May 20th. Ages 10
          and under will be from 5-6 pm and ages 11-17 will be from 6-7 pm.</p>
          <p>A coaches' orientation and training meeting will be held on Saturday, May 22nd from 2-4 pm.</p>
          <p>Afternoon practice for returning swimmers will begin on Monday, May 24th with time trials on
          Saturday, May 29th.</p>
        </div>
      </div>
      <table>
        <caption>2020 Swim Meet Schedule</caption>
        <tr>
          <th>Date</th>
          <th>vs.</th>
          <th>Location</th>
        </tr>
        <tr>
          <td>June 2</td>
          <td>Hampton Cove</td>
          <td>Hampton Cove</td>
        </tr>
        <tr>
          <td>June 9</td>
          <td>Sharon Johnston</td>
          <td>Sharon Johnston</td>
        </tr>
        <tr>
          <td>June 16</td>
          <td>Piedmont</td>
          <td>Whitesburg</td>
        </tr>
        <tr>
          <td>June 23</td>
          <td>Sherwood Springs</td>
          <td>Whitesburg</td>
        </tr>
        <tr>
          <td>June 30</td>
          <td>Mountain Springs</td>
          <td>Mountain Springs</td>
        </tr>
        <tr>
          <td>July 9-11</td>
          <td>City Meet</td>
          <td>Huntsville Aquatics Center</td>
        </tr>
      </table>
    </section>
  </div>
</section>

<!-- Dive Team Schedule -->
<section class="wrapper style4 container">
  <div class="content">
    <!-- Dive Team Schedule -->
    <section>
      <div class="row">
        <div class="8u 12u(narrower)">
          <header><h2>Dive Team Schedule</h2></header>
          <p>Dive Team meet and practice schedules are to be determined for the 2021 season.
          Please check back regularly for updates or join our mailing list.</p>
          <!-- <h3>Mixer Meets:</h3> -->
          <!-- <ul> -->
          <!--   <li>Camelot vs. Piedmont/Lily Flagg/Whitesburg</li> -->
          <!--   <li>Camelot vs. Whitesburg/Byrd Springs</li> -->
          <!-- </ul> -->
          <!-- <h3>Dual Meets:</h3> -->
          <!-- <ul> -->
          <!--   <li>Whitesburg vs. Lily Flagg</li> -->
          <!--   <li>Byrd Springs vs. Whitesburg</li> -->
          <!-- </ul> -->
        </div>
        <div class="4u 12u(narrower)">
          <img src="/images/dive-team1.jpg" />
        </div>
      </div>
    </section>

  </div>
</section>

