<footer id="footer">

  <p>610 Sanders Rd.<br>Huntsville, AL 35802 <a href="https://goo.gl/maps/vEyRgwpskPN2" target="_blank" class="icon fa-map-marker"></a></p>

  <ul class="icons">
    <li><a href="https://twitter.com/whitesburgpool" class="icon circle fab fa-twitter" data-fa-transform="shrink-8"><span class="label">Twitter</span></a></li>
    <li><a href="https://www.facebook.com/pages/Whitesburg-Pool/157481787615975" class="icon circle fab fa-facebook" data-fa-transform="shrink-8"><span class="label">Facebook</span></a></li>
    <li><a href="https://instagram.com/whitesburgpool" class="icon circle fab fa-instagram" data-fa-transform="shrink-8"><span class="label">Instagram</span></a></li>
    <li><a href="mailto:info@whitesburgpool.org" class="icon circle far fa-envelope" data-fa-transform="shrink-8"><span class="label">Instagram</span></a></li>
  </ul>

  <ul class="copyright">
    <li>&copy; <script type="text/javascript">document.write(new Date().getFullYear());</script> Whitesburg Recreation Association</li>
    <li>Design: Adapted from <a href="https://html5up.net/twenty">Twenty</a> via <a href="http://html5up.net">HTML5 UP</a> (CCA 3.0)</li>
  </ul>

</footer>

