<footer id="footer">

  <div class="max-w-2xl mx-auto text-center mb-8">
    <a class="w-80 mx-auto flex justify-center rounded-md border border-transparent py-3 px-6 text-base font-medium text-white shadow-sm bg-brand hover:bg-brand-darker cursor-pointer"
      href="https://mailchi.mp/42d1ee8801dd/join-whitesburg-pool-mailing-list">Join the Mailing List</a>
  </div>

  <p>
    610 Sanders Rd.<br>
    Huntsville, AL 35802
    <a href="https://goo.gl/maps/vEyRgwpskPN2" target="_blank" class="icon fa-map-marker-alt"></a>
  </p>
  <p>
    256.883.5847<br>
    <a href="mailto:info@whitesburgpool.org">info@whitesburgpool.org</a>
  </p>

  <ul class="icons">
    <li>
      <a href="https://www.facebook.com/whitesburgpoolwra">
        <i class="icon circle fab fa-facebook" data-fa-transform="shrink-8"></i>
      </a>
    </li>
    <li>
      <a href="https://instagram.com/whitesburgpool">
        <i class="icon circle fab fa-instagram" data-fa-transform="shrink-8"></i>
      </a>
    </li>
    <li>
      <a href="mailto:info@whitesburgpool.org">
        <i class="icon circle far fa-envelope" data-fa-transform="shrink-8"></i>
      </a>
    </li>
  </ul>

  <ul class="copyright">
    <li>&copy;
      <script type="text/javascript">
        document.write(new Date().getFullYear());
      </script>
      Whitesburg Recreation Association
    </li>
    <li>Design: Adapted from
      <a href="https://html5up.net/twenty">Twenty</a>
      via
      <a href="http://html5up.net">HTML5 UP</a>
      (CCA 3.0)
    </li>
    <li>
      <a href="mailto:webmaster@whitesburgpool.org">Website problems?</a>
    </li>
  </ul>

</footer>