<!-- Splitbee analytics -->
<script async src="https://cdn.splitbee.io/sb.js"></script>

<!-- Tailwind CSS -->
<script src="https://cdn.tailwindcss.com?plugins=forms"></script>
<script>
  tailwind.config = {
    theme: {
      fontFamily: {
        sans: ['Lato', 'sans-serif']
      },
      extend: {
        colors: {
          brand: {
            pale: "#b4a1d6",
            lightest: "#84769d",
            lighter: "#8c6c0d6",
            DEFAULT: "#593d89",
            darker: "#382757",
            darkest: "#362552"
          }
        }
      }
    }
  }
</script>

<!-- Stripe -->
<script src="https://js.stripe.com/v3/"></script>

<title>Whitesburg Pool, Huntsville, AL - {{ page.title }} </title>

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<!--[if lte IE 8]><script src="/assets/js/ie/html5shiv.js"></script><![endif]-->
<link rel="stylesheet" href="/assets/css/main.css" />
<!--[if lte IE 8]><link rel="stylesheet" href="/assets/css/ie8.css" /><![endif]-->
<!--[if lte IE 9]><link rel="stylesheet" href="/assets/css/ie9.css" /><![endif]-->
<script src="https://kit.fontawesome.com/581617cb71.js"></script>

<!-- app/favicon -->
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">