<header id="header" {% if page.name == "index.html" %}class="alt"{% endif %}>
  <nav id="nav">
    <ul>
      <li {% if page.name =="index.html" %}class="current"{% endif %}><a href="/index.html">Home</a></li>
      <li {% if page.name =="swim-and-dive.html" %}class="current"{% endif %}><a href="/swim-and-dive.html">Swim & Dive Team</a></li>
      <li {% if page.name =="employment.html" %}class="current"{% endif %}><a href="/employment.html">Employment</a></li>
      <li {% if page.name =="rules.html" %}class="current"{% endif %}><a href="/rules.html">Rules</a></li>
      <li {% if page.name =="governance.html" %}class="current"{% endif %}><a href="/governance.html">governance</a></li>
      <li {% if page.name =="join-now.html" %}class="current"{% endif %}><a href="/join-now.html" class="button special">Join Now</a></li>
    </ul>
  </nav>
</header>

