---
---

@import 'libs/vars';
@import 'libs/functions';
@import 'libs/mixins';
@import "libs/skel";

#join-now {
  table {
    strike {
      color: #999;
    }
    strong {
      font-weight: 900;
    }
    em {
      font-style: italic;
      font-weight: 400;
      color: red;
    }
    border: 1px solid _palette(border);
  }
  td, th {
    padding: 1em;
    border-bottom: 1px solid _palette(border);
    vertical-align: middle;
  }
  th {
    font-weight: 400;
  }

  button {
    min-width: 10em;
    line-height: 1.75em;
    min-height: 2em;
  }
  select {
    width: 100%
  }
  #view-cart {
    line-height: 3em;
    min-width: 20em;
  }

  #other_payments {
    input[type="text"] {
      display: inline-block;
      width: auto;
    }

    .error {
      color: red;
    }
  }
}
