---
---

@import 'libs/vars';
@import 'libs/functions';
@import 'libs/mixins';
@import "libs/skel";

#swim-and-dive {

  #note {
    background: _palette(two, bg);
    color: _palette(fg);
    padding: 1em;
  }

  img {
    width: 100%;
    height: auto;
  }

  #swim-dive-banner {
    background-image: url("/images/swim-dive-banner.jpg");
    background-size: cover;
    background-position: center;
    padding: 10em;
  }

  table#paypal-form {
    max-width: 700px;
    strong {
      font-weight: 900;
    }
    em {
      font-style: italic;
      font-weight: 400;
      color: red;
    }
    border: 1px solid _palette(bg);
    td, th {
      padding: 1em;
      border-bottom: 1px solid _palette(bg);
      vertical-align: middle;
    }
    th {
      font-weight: 400;
    }
  }

  table {
    border: 1px solid _palette(fg);

    caption {
      border: 1px solid _palette(fg);
      border-bottom: 0px;
      font-weight: 900;
    }
    th, td {
      padding: 5px;
    }

    th {
      text-align: left;
      font-weight: 400;
    }

    td {
    }
  }

  button {
    min-width: 10em;
    line-height: 1.75em;
    min-height: 2em;
  }
  select {
    width: 100%
  }
  #view-cart {
    line-height: 3em;
    min-width: 20em;
  }

  .style2 {
    // font-weight: inherit;
    // strong {
    //   font-weight: 400;
    // }
    #divers {
      width: 25px;
      vertical-align: middle;
    }
  }

  #volunteering {
    p { text-align: justify; }
    .row header {
      .icon { font-size: 50px; }
      color: _palette(one, bg);
    }
  }

}
